.container{
	width:1325px;
	margin:auto;
} .contentarea{
	float:right;
	width:900px;
}.question{
	cursor: pointer;
	color:#000;
}.question:before{
	clear:both;
} .answer, .resps {
   	margin: 0px 3px 3px;
   	height: auto;
    display: none;
    padding: 5px 20px;
 }.answer img, .HOD img, .leaders img{
	display:block;
 }.leaders{
	float: right;
    width: 975px;
 }.leaders ul{
	list-style:none;
 }.leaders ul li{
	display: inline-block;
    float: left;
    padding: 0 50px 50px 0;
    width: 350px;
 }.leaders ol{
	display:block;
	padding-left:0;
 }.leaders ol li{
	display:block;
	padding:0 0 10px 20px;
	font-style:italic;
	line-height:1;
 }.leaders ol li:before{
	content:'- ';
 }.leaders .admin{
	padding: 0 0 50px 25px;
 }.menu2{
	
 }.menu2 .desc{
	display:inline-block;
	padding:10px 0 10px 10px;
	width:200px;
 }#login{
	background-color:#fff;
	border-radius:10px;
	height:300px;
	width:300px;
	position:absolute;
	top:10%;
	left:40%;
	z-index:999;
	border:2px solid #000;
	padding:30px 15px;
 }#login form input, input{
	margin:15px;
 }.error{
	color:#f00;
 }.menu{
	background-color: #009DDC;
    border-radius: 20px 20px 0 0;
    height: 70px;
    margin-top: 10px;
    padding: 30px 10px 0;
    position: relative;
    width: 1365px;
    z-index: 1;
}.menu a{
	color: #FFFFFF;
    font-size: 18px;
    padding: 0 20px;
    text-decoration: none;
}.menu a:hover{
	text-decoration:underline;
}.dataArea{
	background-color: #F1F1F1;
    border-radius: 0 0 20px 20px;
    margin-top: -20px;
   padding: 50px 30px 30px;
    position: relative;
    width: 1325px;
    z-index: 2;
}.sidebar{
    border-right: 1px solid #000000;
    float: left;
    padding: 0 30px 0 16px;
    width: 300px;
}.sidebar h1{
	margin:0;
}.sidebar a{
	color:#000;
}#overlay{
	background-color:rgba(0,0,0,.7);
	height:100%;
	width:100%;
	position:absolute;
	z-index:100;
	top:0;
	left:0;
}header{
	height: 80px;
    margin: auto;
    width: 1325px;
}.leftHead{
	display: inline-block;
    width: 50%;
	
}.rightHead{
	display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 49%;

}.leftadmin{
	width:400px;
	float:left;
}.rightadmin{
	width:400px;
	float:left;
}.scrollup{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('../images/icon_top.png') no-repeat;
    background-color: #000;
}a.live{
	color:#009ddd;
	font-weight:bold;
}
